body {
  font-family: arial, sans-serif;
}

div {
  box-sizing: border-box;
}

.navbar {
  background-color: #133C60;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

.brand-logo {
  height: 64px;
  font-size: 18px;
  color: white;
  float: left;
  padding-left: 16px;
}

.menu-button {
  background-color: white;
  width: 32px;
  height: 32px;
  margin: 16px;
  float: right;
}

.main-menu {
  background-color: green;
  width: 100vw;
  height: calc(100vh - 64px);
  position: absolute;
  left: -100vw;
}

.menu-header {
  height: 112px;
/*  background-image: url('/img/sky.jpeg');*/
  background-size: cover;
}

.greeting {
  color: white;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-top: 15px;
}

.menu-item {
  height: 80px;
  line-height: 80px;
  font-size: 1.1rem;
  vertical-align: middle;
  background-color: #3371A7;
  color: white;
  text-transform: uppercase;
  border-bottom: solid 1px white;
  padding-left: 16px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
  vertical-align: middle;
  margin-right: 16px;
}

.sub-menu {
  background-color: purple;
  border-left: solid 1px white;
  width: 80vw;
  height: calc(100vh - 64px);
  position: absolute;
  right: -80vw;
}


.main-panel {
  position: relative;
  clear: both;
  background-color: #FFFFFF;
  height: calc(100vh - 64px); /* subtract menu-bar */
  overflow-x: hidden;
  overflow-y: auto;
}

.bread-crumb {
  color: #FFFFFF;
  font-size: 14px;
}

.main-content {
  position: absolute;
  padding: 16px;
}

.bread-crumb {
  background-color: #3371A7;
  line-height: 20px;
  vertical-align: middle;
  padding: 15px;
}