body {
  font-family: arial, sans-serif;
}

div {
  box-sizing: border-box;
}

p, h1 {
  padding: 0px 16px;
}

.navbar {
  background-color: #133C60;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

.brand-logo {
  height: 64px;
  font-size: 18px;
  color: #FFFFFF;
  float: left;
  padding-left: 16px;
}

.menu-button {
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  margin: 16px;
  float: right;
  cursor: pointer;
}

.main-menu {
  background-color: #3371A7;
  width: 100vw;
  position: absolute;
  left: -100vw;
  -webkit-transition: left .2s ease; /* Safari */
    transition: left .2s ease;
}

.menu-header {
  height: 112px;
  background-image: url('../img/sky.jpeg');
  background-size: 100vw;
}

.greeting {
  color: #FFFFFF;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-top: 15px;
}

.menu-item {
  height: 80px;
  line-height: 80px;
  font-size: 1.1rem;
  vertical-align: middle;
  background-color: #3371A7;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(255,255,255,.25);
  padding-left: 16px;
  opacity: 0;
    -webkit-transition: opacity 1s ease .2s, background-color .3s ease 0s; /* Safari */
    transition: opacity 1s ease .2s, background-color .3s ease 0s;
}

.sub-item {
  text-transform: Capitalize;
  padding-left: 32px;
  opacity: 1;
}

.icon {
  display: inline-block;
  font-size: 28px;
  text-align: center;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 16px;
}

.sub-menu {
  background-color: #3371A7;
  border-left: solid 1px rgba(255,255,255,.5);
  width: 80vw;
  height: calc(100vh - 64px);
  position: absolute;
  right: -80vw;
  overflow-y: auto;
  -webkit-transition: right .2s ease .2s; /* Safari */
    transition: right .2s ease .2s;
}

#menuHeading {
  background-color: #4680B1;
}

.right-arrow, .right-x {
  width: 20vw;
  height: 80px;
  background-color: #4680B1;
  float: right;
  vertical-align: middle;
  line-height: 80px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  -webkit-transition: opacity 1s ease .2s, background-color .3s ease 0s;
    transition: opacity 1s ease .2s, background-color .3s ease 0s;
}

.right-x {
  background-color: transparent;
}

.main-panel {
  position: relative;
  clear: both;
  background-color: #FFFFFF;
  height: calc(100vh - 64px); /* subtract menu-bar */
  overflow: hidden;
}

.bread-crumb {
  color: #FFFFFF;
  font-size: 14px;
}

.main-content {
  width: 100vw;
  position: absolute;
  -webkit-transition: right .2s ease; /* Safari */
    transition: right .2s ease;
}

.bread-crumb {
  background-color: #3371A7;
  line-height: 20px;
  vertical-align: middle;
  padding: 15px;
}